doctype html 
html
    title Room
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js" integrity="sha512-/xb5+PNOA079FJkngKI2jvID5lyiqdHXaUUcfmzE0X0BdpkgzIWHC59LOG90a2jDcOyRsd1luOr24UCCAG8NNw==" crossorigin="anonymous" referrerpolicy="no-referrer")
    link(href="https://fonts.googleapis.com/css2?family=Audiowide&family=Padauk&family=Press+Start+2P&family=Quicksand:wght@300&family=Raleway:wght@100&family=Roboto+Mono:wght@100&family=Rubik:wght@300&display=swap" rel="stylesheet")
    link(href='/styles/chatroom.css' rel='stylesheet')
    body
        div(class='navbar')
            div(class='room-id')
                h3 Krypton's Chat Room
            div(class='leave-btn')
                button(id='btn-leave' onclick=`location.href='/${user_id}/dashboard'`) Exit Room    
        div(class='main')
            div(class='meeting-details')
                div(class='room-name')
                    h3 🗨 Room
                    p(id='cont')
                div(class='part')
                    h3 Participants
                    div(class='user-list')
            div(class='message-area')
        div(class='message-input')
            div(class='msg-txt')
                input(type='text' placeholder='Type your message here' id='msg' autocomplete='off')
            div(class='submit')
                input(type='button' value='🚀 Send' id='send-btn') 
        script. 
            var username=!{JSON.stringify(name)}
            var room=!{JSON.stringify(room)}
        script(src='/socket.io/socket.io.js')
        script(src='/scripts/chatroom.js')