*{
    margin: 0;
    padding: 0;
}
html{
    background-image:linear-gradient(to right,#080000,#000033,#000033);
}
.navbar{
    background-color: #000000;
    background-image: linear-gradient(147deg, #000033 0%, #2c3e50 74%);
    display: inline-flex;
    width: 100%;
    max-width: 100%;
}
.website-logo{
    flex: 1;
}
.index-title{
    flex: 3;
    color: #6600ff;
    font-family:'Audiowide',cursive;
    font-size: 25px;
    text-align: center;
}
.index-title p{
    position: relative;
    top: 25%;
}
.login{
    flex: 1;
    text-align: center;
}
.login a{
    text-decoration: none;
    font-family:'Audiowide',cursive;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    position: relative;
    top: 35%;
}
.login a:hover{
    transition: 2s;
    background-color: white;
    color: black;
}
.signup{
    flex: 1;
    text-align: center;
}
.signup a{
    text-decoration: none;
    font-family:'Audiowide',cursive;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    position: relative;
    top: 35%;
}
.signup a:hover{
    transition: 2s;
    background-color: white;
    color:black;
}
.register-form{
    font-family: 'Audiowide',cursive;
    color: white;
    display: inline-flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    top: 30px;
    left: 25%;
}
.form-head{
    flex: 2;
    text-align: center;
    font-weight: thin;
    border-radius:15px 15px 0px 0px;
    background-image: linear-gradient(to right,#9900ff,#cc00ff,#ff00ff);
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
}
#form-body{
    flex: 8;
    font-family: 'Audiowide',cursive;
    color: black;
    font-size: 15px;
    display: inline-flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0px 0px 15px 15px;
}
#form-body input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    font-family: 'Audiowide',cursive;
    color: #ff3366;
    width: 60%;
}
#form-body div{
    position: relative;
    left: 20%;    
}
.username{
    flex: 1;
    padding-top: 50px;
    padding-bottom: 10px;
}
.email{
    flex: 1;
    padding-top: 10px;
    padding-bottom: 10px;
}
.nickname{
    flex: 1;
    padding-top: 10px;
    padding-bottom: 10px;
}
.bio{
    flex: 1;
    padding-top: 10px;
    padding-bottom: 10px;
}
.password{
    flex: 1;
    padding-top: 10px;
    padding-bottom: 10px;
}
.retype{
    flex: 1;
    padding-top: 10px;
    padding-bottom: 10px;
}
.form-submit{
    padding-bottom: 50px;
    padding-top: 20px;
}
.form-submit button{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #2c3e50;
    font-family: 'Audiowide',cursive;
    border: 2px solid #ff3366;
    color: #ff3366;
    border-radius: 15px;
}
#check-username{
    color: red;
    font-size: 6px;
}

#check-email{
    color: red;
    font-size: 6px;
}
#check-nickname{
    color: red;
    font-size: 6px;
}
#check-password{
    color: red;
    font-size: 6px;
}
#check-retype{
    color: red;
    font-size: 6px;
}